@use '/src/styles/constants/colors';

.buttonComponent {
  padding: 15px 25px;
  font-size: 20px;
  color: colors.$POINT;
  background-color: inherit;
  border: 1px solid colors.$POINT;
  border-radius: 8px;

  &:hover {
    color: colors.$THEME;
    background-color: colors.$POINT;
  }
}
