@use '/src/styles/constants/colors';
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Sans:wght@400;700&family=Noto+Sans+KR:wght@400;900&family=Pacifico&family=Raleway:wght@900&family=Rubik+Puddles&family=Tiro+Telugu&display=swap');

.buttonComponent {
  padding: 15px 25px;
  font-family: 'Tiro Telugu', serif;
  font-size: 20px;
  color: colors.$POINT;
  background-color: inherit;
  border: 1px solid colors.$POINT;
  border-radius: 8px;

  &:hover {
    color: colors.$THEME;
    background-color: colors.$POINT;
  }
}
