@use '/src/styles/constants/colors';
@use '/src//styles//mixins//flexbox';

.header {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid colors.$POINT;
}
