@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Sans:wght@400;700&family=Noto+Sans+KR:wght@400;900&family=Pacifico&family=Raleway:wght@900&family=Rubik+Puddles&family=Tiro+Telugu&display=swap');

main {
  width: 100%;
  height: 100vh;
  font-family: 'Tiro Telugu', serif;
  text-align: center;

  .textContainer {
    margin-bottom: 60px;

    p {
      font-size: 150px;
      color: colors.$POINT;
    }

    span {
      font-size: 25px;
      color: colors.$TEXT;
    }
  }
}
